
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
head {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
        
}

.topnav {
    position: relative;
    background-color: #42b883;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


}
.topnav a {
    float: left;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    
    
}
.topnav a:hover {
    background-color: blanchedalmond;
    color: #333;
    text-decoration: none;    

}
.topnav a.hover {
    background-color:  #333;
    color: #42b883;
   
}
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.topnav-right {
    float: right;
    
}
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;

    }
    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;

    }
}
h1 {
    color: #333;
      
}


h3 {
    color: #333;
}
li {
    color: #009975;
   
}

#box-1 {
    background-color: blanchedalmond;
}




#href {
    background-color: #42b883;
    border-width: 0px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
a:hover {
    color: #064acb;
    font-size: 25px;
    text-decoration: underline;
}